binds:
- port: 3001
  listeners:
  - routes:
    - hostnames: []
      matches:
      - path:
          pathPrefix: /asdfa
      backends:
      - mcp:
          targets:
          - name: everything
            stdio:
              cmd: npx
              args:
              - '@modelcontextprotocol/server-everything'
      policies:
        cors:
          allowOrigins:
          - '*'
          allowHeaders:
          - mcp-protocol-version
          - content-type
          - cache-control
          exposeHeaders:
          - Mcp-Session-Id
    - hostnames: []
      matches:
      - path:
          pathPrefix: /
      backends: []
    - hostnames: []
      matches: []
      backends: []
      name: test
      ruleName: test
